<a href="https://colab.research.google.com/github/bouqdirabdennaceurencg-code/DS-2025/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Installation des dépendances
!pip install -q kagglehub

# Import des bibliothèques
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd

# Chargement du dataset
print("Chargement du dataset en cours...")
try:
    df = kagglehub.load_dataset(
        KaggleDatasetAdapter.PANDAS,
        "emanfatima2025/college-placement-analysis"
    )
except:
    # Alternative si le premier chargement échoue
    path = kagglehub.dataset_download("emanfatima2025/college-placement-analysis")
    import os
    csv_file = [f for f in os.listdir(path) if f.endswith('.csv')][0]
    df = pd.read_csv(os.path.join(path, csv_file))

# Affichage des informations de base
print("\n" + "="*50)
print("INFORMATIONS SUR LE DATASET")
print("="*50)
print(f"\nNombre de lignes: {len(df)}")
print(f"Nombre de colonnes: {len(df.columns)}")

print("\n" + "="*50)
print("COLONNES DU DATASET")
print("="*50)
print(df.columns.tolist())

print("\n" + "="*50)
print("PREMIERS ENREGISTREMENTS")
print("="*50)
print(df.head())

print("\n" + "="*50)
print("INFORMATIONS SUR LES TYPES DE DONNÉES")
print("="*50)
print(df.info())

print("\n" + "="*50)
print("STATISTIQUES DESCRIPTIVES")
print("="*50)
print(df.describe())

print("\n" + "="*50)
print("VALEURS MANQUANTES")
print("="*50)
print(df.isnull().sum())

print("\n✓ Dataset chargé avec succès!")

Chargement du dataset en cours...
Downloading from https://www.kaggle.com/api/v1/datasets/download/emanfatima2025/college-placement-analysis?dataset_version_number=1...

100%|██████████| 108k/108k [00:00<00:00, 32.2MB/s]

Extracting files...

==================================================
INFORMATIONS SUR LE DATASET
==================================================

Nombre de lignes: 10000
Nombre de colonnes: 10

==================================================
COLONNES DU DATASET
==================================================
['College_ID', 'IQ', 'Prev_Sem_Result', 'CGPA', 'Academic_Performance', 'Internship_Experience', 'Extra_Curricular_Score', 'Communication_Skills', 'Projects_Completed', 'Placement']

==================================================
PREMIERS ENREGISTREMENTS
==================================================
  College_ID   IQ  Prev_Sem_Result  CGPA  Academic_Performance  \
0    CLG0030  107             6.61  6.28                     8
1    CLG0061   97             5.52  5.37                     8
2    CLG0036  109             5.36  5.83                     9
3    CLG0055  122             5.47  5.75                     6
4    CLG0004   96             7.91  7.69                     7

  Internship_Experience  Extra_Curricular_Score  Communication_Skills  \
0                    No                       8                     8
1                    No                       7                     8
2                    No                       3                     1
3                   Yes                       1                     6
4                    No                       8                    10

   Projects_Completed Placement
0                   4        No
1                   0        No
2                   1        No
3                   1        No
4                   2        No

==================================================
INFORMATIONS SUR LES TYPES DE DONNÉES
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   College_ID              10000 non-null  object
 1   IQ                      10000 non-null  int64
 2   Prev_Sem_Result         10000 non-null  float64
 3   CGPA                    10000 non-null  float64
 4   Academic_Performance    10000 non-null  int64
 5   Internship_Experience   10000 non-null  object
 6   Extra_Curricular_Score  10000 non-null  int64
 7   Communication_Skills    10000 non-null  int64
 8   Projects_Completed      10000 non-null  int64
 9   Placement               10000 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 781.4+ KB
None

==================================================
STATISTIQUES DESCRIPTIVES
==================================================
                 IQ  Prev_Sem_Result          CGPA  Academic_Performance  \
count  10000.000000     10000.000000  10000.000000          10000.000000
mean      99.471800         7.535673      7.532379              5.546400
std       15.053101         1.447519      1.470141              2.873477
min       41.000000         5.000000      4.540000              1.000000
25%       89.000000         6.290000      6.290000              3.000000
50%       99.000000         7.560000      7.550000              6.000000
75%      110.000000         8.790000      8.770000              8.000000
max      158.000000        10.000000     10.460000             10.000000

       Extra_Curricular_Score  Communication_Skills  Projects_Completed
count            10000.000000          10000.000000        10000.000000
mean                 4.970900              5.561800            2.513400
std                  3.160103              2.900866            1.715959
min                  0.000000              1.000000            0.000000
25%                  2.000000              3.000000            1.000000
50%                  5.000000              6.000000            3.000000
75%                  8.000000              8.000000            4.000000
max                 10.000000             10.000000            5.000000

==================================================
VALEURS MANQUANTES
==================================================
College_ID                0
IQ                        0
Prev_Sem_Result           0
CGPA                      0
Academic_Performance      0
Internship_Experience     0
Extra_Curricular_Score    0
Communication_Skills      0
Projects_Completed        0
Placement                 0
dtype: int64

✓ Dataset chargé avec succès!